/*Style sheet for html project */

*{
  box-sizing: border-box;
}

*{
  container;
}


.container{
width: 960px;
padding-right: 30px;
padding-left: 30px;
margin: 0 auto;
}

body {
background: white;
color: black;
}


h1, h2, h3, h4 {
  color:#45a2da;
}

footer a{
  color:white;
}

header a:hover{
  color: #45a2da;
}

a{
  text-decoration: none;
}

h2,h3,h4{

font-size: 14px;
font-weight: 400;
text-transform: uppercase;

}

nav{
  text-align: right;
}

p{
color: #848484;
}
